.lifestyle {
  position: relative;
  width: 100%;
  height: 60vh;
  min-height: 400px;
  max-height: 600px;
}

.imageWrapper {
  position: absolute;
  inset: 0;
}

@media (max-width: 768px) {
  .lifestyle {
    height: 50vh;
    min-height: 300px;
  }
}
